{% extends 'base.html.twig' %}

{% block title %}Trade index{% endblock %}

{% block body %}
    <h1>Trade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>RegistrationNumber</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
            <tr>
                <td>{{ trade.id }}</td>
                <td>{{ trade.name }}</td>
                <td>{{ trade.registrationNumber }}</td>
                <td>{{ trade.status }}</td>
                <td>
                    <a href="{{ path('trade_show', {'id': trade.id}) }}">show</a>
                    <a href="{{ path('trade_edit', {'id': trade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trade_new') }}">Create new</a>
{% endblock %}
